body{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: black;
    text-decoration: none;
    margin-left: 10px;

}
li{
    list-style: none;
}
.NAV{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.linnks{
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.ALL{
    width: 50%;
}
.intro{
    width: 100%;
    height: fit-content;
    border: 1px solid grey;
    padding: 4px 10px;
    margin-top:30px;
    border-radius: 12px;
}

.aspect{
    display: flex;
    align-items: center;
}
.second{
    display: flex;
    flex-wrap: 3;
}